@media (max-width: 1115px) {
    .blocks_section {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .block:nth-child(3), .block:nth-child(4) {
        margin-top: 40px;
    }
}

@media (max-width: 1050px) {    
    .container{
        max-width: 850px;
    }

    .blocks_section {
        max-width: 700px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
}

@media (max-width: 870px) {
    .container{
        max-width: 680px;
    }

    .navigation ul li {
        width: 200px;
        height: 100px;
    }

    .navigation ul li a {
        font-size: 16px;
    }

    .navigation ul li:nth-child(1) a{
        font-size: 22px;
    }
}

@media (max-width: 700px) {
    .navigation {
        display: none;
    }

    .burger_button {
        display: block;
    }

    .blocks_section {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .block:nth-child(2) {
        margin-top: 40px;
    }


    /* Clicking on the burger button */
    .navigation.active {
        display: block;
    }

    .navigation ul {
        flex-direction: column;
    }

    .navigation ul li:nth-child(1) {
        width: 200px;
    }

    .navigation ul li {
        width: 200px;
        margin-left: -5px;
    }

    .navigation ul li a {
        font-size: 18px;
    }
}