@media (max-width: 1115px) {
    .block {
        width: 220px;
    }

    .block_text {
        width: 200px;
    }

    .blocks_section {
        justify-content: space-around;
    }

    .more_blocks {
        padding-top: 530px;
    }

    .footer_info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_navigation ul li a {
        margin: 10px;
        font-size: 16px;
    }

    .soc_media_icon {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1050px) {    
    .container{
        max-width: 850px;
    }

    .block {
        width: 200px;
    }

    .transparent_div {
        width: 850px;
    }

    .contact_form {
        width: 850px;
    }

    .footer_navigation ul li a {
        font-size: 11px;
        margin: 7px;
    }
}

@media(max-width: 900px) {
    .section4_p_top, .section4_p_bottom  {
        max-width: 680px;
    }

    .events_section {
        justify-content: space-around;
    }
}

@media (max-width: 870px) {
    .container{
        max-width: 680px;
    }

    .block {
        width: 160px;
    }

    .block_icon {
        font-size: 35px;
    }

    .date {
        padding: 25px;
    }

    .block_text {
        width: 155px;
    }

    .block h4 {
        font-size: 23px;
    }

    .block p {
        font-size: 19px;
    }
    
    .navigation ul li {
        width: 200px;
        height: 100px;
    }

    .navigation ul li a {
        font-size: 16px;
    }

    .navigation ul li:nth-child(1) a{
        font-size: 22px;
    }

    .events_section3 {
        text-align: center;
    }

    .transparent_div {
        width: 680px;
    }

    .contact_form {
        width: 680px;
    }

    .contact_input input {
        width: 150px;
    }

    #subject, #contact_email, #contact_message {
        width: 330px;
    }

    .contact_button button {
        width: 110px;
        height: 35px;
    }

    .contact_icon {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .contact_details p {
        font-size: 15px;
    }

    .soc_media_icons a {
        margin: 5px;
    }

    .footer_info {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer_logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer_navigation ul {
        flex-direction: column;
    }

    .footer_navigation ul li {
        margin: 10px;
    }

    .footer_navigation ul li a {
        font-size: 18px;
    }

    .footer_logo::after, .footer_navigation ul::after {
        color: transparent;
    }

    .fancy_border {
        padding-left: 270px;
        margin-top: -70px;
        padding-bottom: 50px;
    }

    .website_policy {
        flex-direction: column;
        width: 380px;
        height: 170px;
    }
}

@media (max-width: 850px) {
    .events_section2 h3 {
        max-width: 600px;
        text-align: center;
    }
}

/* Switching navigation to the hamburger menu */
@media (max-width: 700px) {
    .navigation {
        display: none;
    }

    .burger_button {
        display: block;
    }

    .blocks {
        height: 2600px;
    }

    .blocks_section {
        max-width: 300px;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .block {
        width: 270px;
        margin: 30px;
    }
        
    .block_icon {
        font-size: 55px;
    }
    
    .block_text {
        width: 240px;
    }
    
    .block h4 {
        font-size: 30px;
    }
    
    .block p {
        font-size: 20px;
    }
    
    .date {
        padding: 40px;
    }
    
    .date p {
        margin-left: 20px;
        font-size: 25px;
    }

    .more_blocks {
        display: none;
    }

    .transparent_div {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* Clicking on the burger button */
    .navigation.active {
        display: block;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .navigation ul li:nth-child(1) {
        width: 100%;
    }

    .navigation ul li {
        width: 100%;
    }

    .navigation ul li a {
        font-size: 18px;
    }
}

@media (max-width: 680px) {
    .website_policy {
        width: 300px;
    }
}

@media (max-width: 660px) {
    .message {
        padding-left: 20px;
    }
}

@media (max-width: 650px) {
    .section4_p_top, .section4_p_bottom  {
        max-width: 500px;
    }
}

@media (max-width: 640px) {
    .events_section3 {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .input_div input, #event_list {
        width: 200px;
    }

    #day, #month, #year {
        width: 63px;
    }

    textarea {
        width: 450px;
    }

    .contact_input input {
        width: 110px;
    }

    #subject, #contact_email, #contact_message {
        width: 250px;
    }

    .contact_button button {
        width: 100px;
        height: 35px;
    }

    .message {
        padding-left: 30px;
    }
}

@media (max-width: 590px) {
    .slider_item h3 {
        font-size: 120px;
    }

    .website_policy {
        width: 250px;
    }
}

@media (max-width: 530px) {
    .section4_p_top, .section4_p_bottom  {
        max-width: 400px;
        padding: 40px;
    }

    .section4_p_top {
        margin-bottom: -50px;
    }

    .section4_p_bottom {
        margin-bottom: 30px;
    }

    .website_policy {
        width: 200px;
    }

    .website_policy a {
        font-size: 17px;
    }

    .events_section2 h3 {
        padding: 10px;
        font-size: 35px;
        margin-top: 50px;
    }

    #countdown ul li {
        font-size: 17px;
        padding: 20px 20px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    #countdown ul li span {
        font-size: 45px;
    }
}

@media (max-width: 500px) {
    .blocks_section {
        justify-content: center;
    }

    .input_div input, #event_list {
        width: 380px;
    }

    #day, #month, #year {
        width: 124px;
    }

    textarea {
        width: 380px;
    }

    .input {
        flex-direction: column;
    }

    .input_div label {
        font-size: 15px;
    }

    .phone_number_div {
        margin-top: 25px;
    }

}

@media (max-width: 490px) {
    .slider_item h3 {
        font-size: 100px;
    }

    .fancy_border {
        padding-left: 180px;
        margin-top: -90px;
    }

    .website_policy {
        width: 140px;
    }

    .website_policy a {
        font-size: 15px;
    }
}

@media (max-width: 430px) {
    .events_section2 h3 {
        margin-top: -20px;
    }
}

@media (max-width: 420px) {
    .input_div input, #event_list {
        width: 350px;
    }

    #day, #month, #year {
        width: 112px;
    }

    textarea {
        width: 350px;
    }
}

@media (max-width: 400px) {
    .slider_item h3 {
        font-size: 80px;
    }
}

@media (max-width: 375px) {
    .input_div input, #event_list {
        width: 300px;
    }

    #day, #month, #year {
        width: 96px;
    }

    textarea {
        width: 300px;
    }
}

@media (max-width: 370px) {
    #countdown ul li {
        font-size: 15px;
        padding: 15px 15px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    #countdown ul li span {
        font-size: 35px;
    }
}

@media (max-width: 350px) {
    .footer_navigation ul li a {
        font-size: 15px;
    }

    .website_policy {
        width: 120px;
    }

    .website_policy a {
        font-size: 14px;
    }

    .fancy_border {
        padding-left: 150px;
    }

}