/* Header */
header {
    background-image: url(../images/header-background.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
}

.navigation ul {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.navigation ul li:nth-child(1) {
    width: 12%;
    height: 100px;
    background-color: #ff3a52;
    color: #fff;
    text-align: center;
}

.navigation ul li:nth-child(1) a {
    font-size: 28px;
}

.navigation ul li {
    width: 22%;
    height: 100px;
    background-color: #31353d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    transition: all 0.2s linear;
}

.navigation ul li:hover {
    background-color: #ff3a52;
}

.navigation ul li a {
    color: #fff;
    font-size: 18px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}

.burger_button {
    color: #ff3a52;
    font-size: 30px;
    position: absolute;
    top: 100px;
    right: 55px;
    display: none;
}

/* Section 2 - Slider */
.slider {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.slider_item {
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 600px;
    position: relative;
}

.slider_item img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.slider_item h3 {
    font-size: 140px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.slider_icon {
    font-size: 80px;
    margin-bottom: 50px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.slide1 {
    background-image: url(../images/slider-image1.jpeg);
}

.slide2 {
    background-image: url(../images/slider-image2.jpg);
}

.slide3 {
    background-image: url(../images/slider-image3.jpg);
}

/* Section 3 - Blocks */
.blocks {
    margin-top: -30px;
    background-color: #f6f6f6;
    height: 100%;
}

.blocks_section {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: -135px;
    left: 50%;
    transform: translateX(-50%);
}

.block {
    width: 270px;
    background-color: #fff;
}

.block img {
    width: 100%;
}

.block_icon {
    font-size: 55px;
    color: #31353d;
}

.block_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px;
    margin: 0 auto;
    padding: 25px;
    padding-bottom: 30px;
}

.block h4 {
    color: #474747;
    font-size: 30px;
}

.block p {
    color: #bfbfbd;
    font-size: 20px;
    margin-top: 15px;
}

.date {
    display: flex;
    align-items: center;
    padding: 40px;
    background-color: #ff3a52;
}

.date p {
    margin-left: 20px;
    color: #fff;
    font-size: 25px;
}

.grey_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0;
    border-color: #ecebe9 transparent transparent transparent;
    position: relative;
}

.red_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #ff3a51 transparent;
    position: absolute;
}

.red_triangle:hover {
    border-color: transparent transparent #32363e transparent;
}

.plus_icon {
    color: #fff;
    font-size: 18px;
    margin-left: -22px;
    margin-top: 25px;
}

.square_div {
    display: flex;
    justify-content: flex-end;
}

.more_blocks {
    padding-top: 500px;
    padding-bottom: 150px;
    text-align: center;

}

.more_blocks a {
    color: #474747;
    font-weight: bold;
    font-size: 20px;
    border: 5px dotted #474747;
    padding: 15px 20px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}

.more_blocks a:hover {
    color: #ff3a51;
    border: 5px dotted #ff3a51;
    border-radius: 10px;
    font-size: 22px;
    padding: 17px 22px;
    transition: all 0.2s linear;
}

/* Section 4 - About Us */
#section4 {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}

#section4 h3 {
    color: #32363e;
    font-size: 40px;
    font-weight: bold;
    font-family: "BPG Nino Mtavruli", sans-serif;
}

.section4_p_top, .section4_p_bottom {
    font-size: 20px;
    font-family: "BPG Rioni Vera Light", sans-serif;
}

.section4_p_top {
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 800px;
}

.section4_p_bottom {
    padding-bottom: 100px;
    max-width: 800px;
}

/* Footer */
footer {
    background-color: #31353d;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.footer_logo::after {
    content: "|";
    color: red;
    margin: 0px 50px;
    font-size: 27px;
}

.footer_navigation ul {
    display: flex;
    align-items: center;
}

.footer_navigation ul::after {
    content: "|";
    color: #d13b53;
    margin: 0px 50px;
    font-size: 27px;
}

.footer_navigation ul li a {
    color: #545b68;
    margin: 20px;
    font-size: 18px;
    font-family: "BPG Nino Mtavruli", sans-serif;
    transition: all 0.2s linear;
}

.footer_navigation ul li a:hover {
    color: #d13b53;
    font-size: 19px;
}

.soc_media {
    display: flex;
}

.soc_media_icon {
    color: #fff;
    margin: 5px;
    font-size: 20px;
    background-color: #545b68;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 6px;
    transition: all 0.2s linear;
}

.soc_media_icon:hover {
    background-color: #d13b53;
}

.fancy_border {
    display: flex;
    justify-content: center;
}

.website_policy {
    width: 500px;
    height: 120px;
    background-color: #545b68;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100% 0% 54% 46% / 30% 30% 70% 70%;
    margin-bottom: 30px;
}

.website_policy a {
    color: #31353d;
    margin: 20px 30px;
}

.website_policy a:hover {
    color: #fff;
    text-decoration: underline;
}

/* Events Page */
.events_section2 {
    background-image: url(../images/events-background-image.jpg);
    background-position: center center;
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events_section2 h3 {
    font-size: 45px;
    color: #fff;
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 130px;
    margin-bottom: 50px;
}

/* Countdown */
#countdown {
    /* background: linear-gradient(90deg, rgba(29,67,80,1) 0%, rgba(164,57,49,1) 100%); */
    /* background: linear-gradient(90deg, rgba(233,100,67,1) 0%, rgba(144,78,149,1) 100%); */
    /* background: linear-gradient(90deg, rgba(22,191,253,1) 0%, rgba(203,48,102,1) 100%); */
    /* background: linear-gradient(90deg, rgba(29,67,80,1) 27%, rgba(164,57,49,1) 100%); */
    /* background: linear-gradient(90deg, rgba(17,67,87,1) 19%, rgba(242,148,146,1) 100%); */
    background: linear-gradient(90deg, rgba(74,129,81,1) 22%, rgba(237,57,62,1) 100%);
}

#countdown ul li {
    display: inline-block;
    font-size: 19px;
    padding: 20px 30px;
    text-transform: uppercase;
    color: #fff;
}
  
  #countdown ul li span {
    display: block;
    font-size: 72px;
  }

